<!doctype html>
<html lang="zh-tw">

<head>
	<title>關於 | 台科ㄉ空教室！</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
</head>

<body style="margin-top:70px">
	<div class="ts top fixed inverted borderless large menu">
		<div class="ts narrow container">
			<div class="header item">台科ㄉ空教室！</div>
			<a href="/" class="item">首頁</a>
			<a href="/about" class="item">關於</a>
		</div>
	</div>
	<div class="ts container">
        <div class="ts huge dividing header">
            其實我覺得這個頁面完全不重要。
        </div>
        <p>總之，這是一個關於頁面，是因為我覺得只有一個首頁很無聊才加的。</p>
        <p>既然都加了，那還是塞一些資訊好了。</p>
    </div>
</body>