<!doctype html>
<html lang="zh-tw">

<head>
	<title>關於 | 台科ㄉ空教室！</title>
	<meta content="台科ㄉ空教室！ - 幫你找找看今天台科有哪間空教室可以待。" name="description" />
	<meta content="台科ㄉ空教室！" property="og:title" />
	<meta content="website" property="og:type" />
	<meta content="http://classroom.taiwan-te.ch/" property="og:url" />
	<meta content="台科ㄉ空教室！ - 幫你找找看今天台科有哪間空教室可以待。" property="og:description" />
	<meta content="/static/og2.png" property="og:image" />
	<meta content="605" property="og:image:width" />
	<meta content="605" property="og:image:width" />
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
</head>

<body style="margin-top:70px">
	<div class="ts top fixed inverted borderless large menu">
		<div class="ts narrow container">
			<div class="header item">台科ㄉ空教室！</div>
			<a href="/" class="item">首頁</a>
			<a href="/about" class="item">關於</a>
		</div>
	</div>
	<div class="ts container">
        <div class="ts huge dividing header">
            其實我覺得這個頁面完全不重要。
        </div>
        <p>總之，這是一個關於頁面，是因為我覺得只有一個首頁很無聊才加的。</p>
		<p>不過呢，既然都加了，那還是塞一些資訊好了。</p>
		
		<div class="ts big list">
			<div class="item">
				<i class="github square icon"></i>
				<div class="content">
					<a class="header" href="https://github.com/splitline/taiwan-tech-empty-classroom">Github</a>
					<div class="description">反正就是這東西的Github，扣的都在這裡。</div>
				</div>
				<i class="facebook square icon"></i>
				<div class="content">
					<a class="header" href="https://www.facebook.com/StarBurstStreammm">我的fb</a>
					<div class="description">會有一些廢文。</div>
				</div>
				<i class="telegram icon"></i>
				<div class="content">
					<a class="header">@SplitLine</a>
					<div class="description">這是我的Telegram。</div>
				</div>
				
			</div>
		</div>
		<p>恩，應該就這樣吧。</p>
    </div>
</body>