<!doctype html>
<html lang="zh-tw">

<head>
	<title>台科ㄉ空教室！</title>
	<meta content="台科ㄉ空教室！ - 幫你找找看今天台科有哪間空教室可以待。" name="description" />
	<meta content="台科ㄉ空教室！" property="og:title" />
	<meta content="website" property="og:type" />
	<meta content="http://classroom.taiwan-te.ch/" property="og:url" />
	<meta content="台科ㄉ空教室！ - 幫你找找看今天台科有哪間空教室可以待。" property="og:description" />
	<meta content="/static/og2.png" property="og:image" />
	<meta content="635" property="og:image:width" />
	<meta content="635" property="og:image:height" />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
</head>

<body style="margin-top:70px">
	<div class="ts top fixed inverted borderless large menu">
		<div class="ts narrow container">
			<div class="header item">台科ㄉ空教室！</div>
			<a href="/" class="item">首頁</a>
			<a href="/about" class="item">關於</a>
		</div>
	</div>
	<div class="ts container">
		<div class="ts huge dividing header">
			台科ㄉ空教室！
			<div class="sub header">找找看今天台科有哪間空教室可以待。</div>
		</div>
		<select class="ts basic dropdown" id="building">
			<option value="TR">研揚大樓</option>
			<option value="IB">國際大樓</option>
			<option value="T4">第四教學大樓</option>
			<option value="T3">第三教學大樓</option>
			<option value="E1">工程一館</option>
			<option value="E2">工程二館</option>
			<option value="EE">電資館</option>
			<option value="MA">管理大樓</option>
		</select>
		<select class="ts basic dropdown" id="period">
		</select>
		<button class="ts icon button" id="search">
			<i class="search icon"></i>
		</button>
		<div class="ts header" id="message">
		</div>
		<div class="ts heading slate">
			<span class="header">空的教室</span>
			<span class="description">你理論上可以在這些教室待著耍廢。</span>
			<div class="ts list" id="free">
			</div>

			<div class="ts loading dimmer">
				<div class="ts text loader">讀取中...</div>
			</div>
		</div>
		<br>
		<div class="ts heading slate">
			<span class="header">有在用的教室</span>
			<span class="description">這些教室被借來上課或是辦奇怪的活動了。</span>
			<div class="ts list" id="using">
			</div>

			<div class="ts loading dimmer">
				<div class="ts text loader">讀取中...</div>
			</div>
		</div>
	</div>
	<br>


	<div class="ts modals dimmer">
		<dialog id="modal" class="ts closable tiny modal" open>
			<div class="ts icon header">
				<i class="notice circle icon"></i> <span id="classroomId"></span> 整天的狀態
			</div>
			<i class="close icon"></i>
			<div class="content">
				<table class="ts borderless big table" id="timetable">
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="actions">
				<button class="ts positive button">好。</button>
			</div>
		</dialog>
	</div>

	<div class="ts snackbar">
		<div class="content"></div>
		<a class="action"></a>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
	<script>
		const period = [
			["0810", "0900"],
			["0910", "1000"],
			["1020", "1110"],
			["1120", "1210"],
			["1220", "1310"],
			["1320", "1410"],
			["1420", "1510"],
			["1530", "1620"],
			["1630", "1720"],
			["1730", "1820"],
			["1825", "1915"],
			["1920", "2010"],
			["2015", "2105"],
			["2110", "2200"]
		];

		const nthMapping = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "A", "B", "C", "D"];
		
		const nthToTime = n => `${period[n][0].slice(0, 2)}:${period[n][0].slice(2, 4)} ~ ${period[n][1].slice(0, 2)}:${period[n][1].slice(2, 4)}`;

		window.onload = () => {
			document.getElementById("period").innerHTML = nthMapping.map(
				(code, i) => `<option value="${i}">第 ${code} 節課</option>`
			).join('');

			const nowTime = new Date();
			const timecode = nowTime.getHours().toString().padStart(2, "0") + nowTime.getMinutes().toString().padStart(2,
				"0");

			for (let i = 0; i < 14; i++) {
				if (timecode >= period[i][0] && timecode <= period[i][1]) {
					document.getElementById("period").value = i;
					break;
				} else if (i + 1 < 14 && timecode >= period[i][1] && timecode <= period[i + 1][0]) {
					document.getElementById("period").value = i + 1;
					break;
				}
			}
		}

		document.getElementById('search').onclick = function () {
			const nthClass = document.getElementById("period").value;

			ts('.snackbar').snackbar({
				content: `查詢第 ${nthMapping[nthClass]} 節課。（${nthToTime(nthClass)}）`,
			});

			document.querySelectorAll('.list').forEach(elem => elem.innerHTML = "");
			document.querySelectorAll('.loading').forEach(elem => elem.classList.add('active'));
			fetch(`/ajax?building=${document.getElementById('building').value}`)
				.then(r => r.json())
				.then(data => {
					document.querySelectorAll('.loading').forEach(elem => elem.classList.remove('active'));
					Object.keys(data).forEach(classroom => {
						const div = document.createElement("div");
						div.className = "item";
						div.innerHTML = `<i class="map-marker marker icon"></i>
									<div class="content">
										<a class="classroom">${classroom}</a>
										<div class="description">${data[classroom][nthClass]}</div>
									</div>`;
						div.querySelector('.classroom').onclick = () => {
							document.querySelector('span#classroomId').textContent = classroom;
							document.getElementById('timetable').innerHTML = data[classroom].map(
									(course, i) =>
									`<tr class="${!course ? "positive":""}" >
										<td class="right aligned">
												${nthMapping[i]} ${nthToTime(i)} 
										</td>
										<td>${!course ? '<i class="check icon"></i> 空教室': course}</td>
									</tr>`)
								.join("\n");
							ts('#modal').modal("show");
						}
						document.getElementById(!data[classroom][nthClass] ? 'free' : 'using').append(div);
					});
				});
		};
	</script>
</body>

</html>